*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --color-primary: #FF5733;
    --color-bg:#EEEEEE;
    --font-mada: 'Mada', sans-serif;
}
body{
    overflow-x: hidden;
    font-family: var(--font-mada);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing:antialiased;
}
.header__top__section{
    padding:10px 0;
}
.header__top{
    display: flex;
    justify-content: space-between;
}
.header__top svg{
    height:20px;
}
.banner__section{
    height:80vh;
    overflow: hidden;
}
.banner__section .item{
    position:relative;
    height:100%;
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/PTHIHN5WMZEFDFLF5YRQCOQVMY.jpg);
    background-size: cover;
    background-position: 50%, 50%;
    height: 80vh;
}
.banner__section .item .main__img{
    height:100%;    
}
.banner__section .item .text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.whynot__section{
    position: relative;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #F5AD28;
}
.whynot__section .offer{
    min-height: 350px;
    position: relative;
    background-image:  linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/chicken.png);
    background-size: cover;
    background-position:50% 50%;
    margin-bottom: 20px;
    border-radius: 8px;
    border:2px solid #fff;
} 
.whynot__section .offer .text{
    position: absolute;
    top:50%;
    left: 50%;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width:75%;
}